:root {
    --page: #efefef;
    --main-font: Poppins, sans-serif;
    --brand-color: #f4c20f;
    --elements-bg: #0f0e1b;
    --hoved-color: #b89416;
    --heading-font: Portico, sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3em;
    font-family:sans-serif;
    font-style: italic;
   
  
}
h2{
  font-size: 2.5em;
  
}
h3{
  font-size: 2.2em;
}
h4{
    font-size: 2em;
}
p1{
    font-size: 1.2em;
}
p2{
  font-size: 1.1em;
}
button{
  border-radius: 8px;
  color: #0f0e1b;

}
button:hover{
  background-color: #b89416;
  letter-spacing: 1px;
  font-weight: 700;
  scale: 1.01px;
  transition: .3s linear;
 color: black;

}
section{
    place-content: center;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: var(--elements-bg);
    overflow-x:hidden ;
}

/* Navbar Styling */
.navbar {
    color:black;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links a {
  color: var(--page);
  font-weight: bolder;
  text-decoration: none;
  font-size: 22px;
  
}

.nav-links a:hover{
  color: var(--hoved-color);
  letter-spacing: .5px;
  transition: .3s linear;
  scale: 1.04;
}

/* Burger Menu */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
   color: white;
   width: 20px;
   aspect-ratio: 1;
}

.line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px;
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    width:100%;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
   width: 100%;
   height:100%;
    z-index: -1;
}

.hero-content {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    padding: 10px;
}
.hero-content::after{
    content: '.';
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 2em;
    display: block;
    position: absolute;
    left: 83%;
    top: 40%;
    width: 30px;
   height: 40px;
    color: white;
    border-radius: 40px 40px 20px 20px;
    transform: translateY(20px);
    transition: .5s linear infinite;
}
.hero-content h1{
    font-size: 5em;
      color: white;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: .5px;
      letter-spacing:.5px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
     ;
}
.hero-content h2{
    font-size: 4em;
    width: 100%;
    color: var(--brand-color);
    -webkit-text-stroke-width: .5px;
}


/* About Section */
.about {
    background-image: linear-gradient(to bottom,#efefef,#0f0e1b);
    display: grid;
    width: 100%;
    padding: 20px;
    letter-spacing: .2px;
    word-spacing: .1px;
    gap: 30px;


}

.container1 {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-shrink: 0;
   gap: 20px;
}


.container1 div {
   display: grid;
   place-content: center;
   text-align: center;
    gap: 10px;
    height: 250px;
   width: 450px;
   padding: 10px;
   border-radius: 50px;
background: #e0e0e0;
box-shadow: inset -20px 20px 22px #cccccc,
            inset 20px -20px 22px #f4f4f4;
}
.container1 div i{
    font-size: 2em;
}
.container2 {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 20px;
   
  }
  .container2 div{
    background-color: red;
    height: 300px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.container2 div img{
    width: 100%;
    height: 100%;
}
.container2 div:hover{
  transform:scale(1.1);
    transition: .3s linear;
}
.container2 div:hover button{
    transform: translateY(20px);
    transition: .5s linear;
}

.container2 div h3{
  position: absolute;
  color: var(--page);

}
.container2 div button{
    justify-self: center;
    position: absolute;
    z-index: 10;
    margin-top: 100px;
    width: 130px;
    height: 55px;
    padding: 2px;
    align-items: center;
    text-align: center;
    background-color: var(--brand-color);
    color: var(--elements-bg);
    font-size: 18px;
    border-radius: 8px;
    overflow: hidden;

}
.container2 div button::before{
    content: '';
    background-color:var(--page);
   width: 20px;
   height: 100%;
    display: block;
    align-items: center;
    position:absolute;
    z-index: -1;
    top: 0;
    left: 30%;
    transform: skewX(20deg);
    
}
.container2 div button:hover  {
    letter-spacing: 1.2px;
}
.container2 div button:hover .container2 div button::before{
    transform: translateX(30px);
}
#view{
    justify-self: center;
    width: 130px;
    height: 55px;
    padding: 2px;
    align-items: center;
    text-align: center;
    background-color: var(--brand-color);
    color: white;

}



/* Packages Section */
.packages {
   width: 100%;
   padding: 20px;
   place-content: center;
}
.packages-info{
   display: grid;
   grid-auto-flow: column;
   gap: 50%;

}
.about-price{
    border-bottom: 1px solid gray;
}
.packages-prices{
    display: grid;
    align-items: center;
    place-content: center;
    grid-auto-flow: column;
    margin-top: 50px;
    gap: 10px;
    

}
.main-pack{
    display: grid;
    height: 400px;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid gray;
    background: #e0e0e0;
box-shadow: inset -20px 20px 22px #cccccc,
            inset 20px -20px 22px #f4f4f4;
            
   
}

#main-pack{
    height: 500px;
    background-color: var(--elements-bg);
    color: white;
}
#main-pack2{
    height: 450px;
}

.about-price{
    text-align: left;
}
.price-for{
    display: grid;
    margin-top: 4px;
    gap: 1px;  
   
}
.price-for p2{
    display: flex;
    gap: 5px;
}
#get{
    justify-self: center;
    width: 230px;
    height: 40px;
    background-color: var(--brand-color);
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
}





/* Team Section */
.team {
   width: 100%;
   padding: 20px;
   display: grid;
   place-content: center;
   color: var(--elements-bg);
}
.trainers-info{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}
.team-info1, .team-info2,.team-info3{
  z-index: 1;
  color: var(--page);
  display: none;
  flex-direction: column;
  margin-top: 90px;
  transform: translateY(70px);
  overflow: hidden;
  transition: .5s linear;
}
[id^="team1"]:hover .team-info1,
[id^="team2"]:hover .team-info2,
[id^="team3"]:hover .team-info3 {
  display: flex;
  position: absolute;
  transform: translateY(0);
  transition: .5s linear;
}

.trainers-info div{
    background-color: transparent;
    height: 300px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.trainers-info div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.trainers-info div:hover img{

    transform: scale(1.1) rotate(1.2deg);
    transition: .5s ease;
    
}
#footer-bg{
    mix-blend-mode: color;
    color: var(--page);
    background-image: linear-gradient(to bottom,#efefef ,#efefef,#0f0e1b,#0f0e1b);
}


/* Footer Section */
.footer {
   width: 100%;
   padding: 20px;
   display: grid;
   grid-auto-flow: column;
   margin-top: 10%;
   gap: 20px;
}
.footer1{
    display: grid;
   align-items: center;
   gap: 3px;

}
.footer2{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 3px;
}
.main-footer{
    display: grid;
    grid-auto-flow: column;
    gap: 3px;
}
.main-footer .nav-link{
   display: grid;
   grid-auto-flow: row;
   list-style: none;
}
.nav-link{
    margin-top: 6px;
  
}

.nav-link li {
    margin-right: 20px;
    list-style: none;
}

.nav-link a {
    color: var(--page);
    text-decoration: none;
}
.main-footer2{
    text-decoration: none;
    list-style: none;
}



/* about page */
.about-container{
    width: 100%;
    display: grid;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
    text-align: center;
    place-content: center;
    padding: 20px;
}
.about-container p1{
    text-align: center;
    justify-self: center;
   padding: 60px;
}
.about-container-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.about-container-images :nth-child(1){
    width: 400px;
    height: 500px;
}
.about-container-images :nth-child(2){
   width: 500px;
}
.about-container button{
    width: 150px;
    height: 60px;
    margin-top: 10px;
    background-color: var(--brand-color);
    justify-self: center;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .about-container-image{
    width: 100%;
    height: 60vh;
    background-image: url(images/pexels-leon-ardho-1552242.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 20px; /* Bullet width */
    height: 5px; /* Bullet height */
    background-color: #999; /* Bullet color */
    opacity: 0.5; /* Bullet opacity */
    margin: 0 5px; /* Spacing between bullets */
    border-radius: 20%; /* Make the bullet round */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--brand-color); /* Active bullet color */
  }
  

  /*swiper*/
.feedback{
    width: 100%;
    padding: 20px;
    
}
.feedback-content{
    display: grid;
   gap: 4px;
   text-align: left;
   place-content: center;
   
}

.feedback-content p1{
    font-weight: 400;
}
.feedback-content h4{
    font-size: 16px;
    margin-top: 5px;
    font-weight: 100;
}
.swiper-slide::before{
    content: '"';
    color: var(--elements-bg);
    font-weight: bolder;
    display: block;
   float: left;
   padding-right: 15px;
    font-size: 3em;
    position: relative;
    top: 0;
}

  .swiper {
    margin-top: 5%;
    width:100% ;
    padding: 10px;
    height: 50vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

  /*blogs*/
  .blog{
    width: 100%;
    gap: 30px;
    padding: 20px;
  }
  .blog-content{
  
        display: grid;
        grid-auto-flow: column;
        gap: 50%;
  }
  .blog-content h1{
    text-align: left;
  }
  .blog-info{
    width: 100%;
   display: grid;
   grid-template-columns: auto  auto auto;
   grid-template-rows:auto auto ;
   align-items: center;
   place-content: center;
   gap: 30px;
   padding: 20px;
   margin-top: 6.5%;
    }
    

  
  .blog-contents{
    display: grid;
    align-items: left;
    text-align: left;
    width: 400px;
    height: 450px;
   
    border-radius: 10px;
    margin-bottom: 50px;
  }
  .blog-contents:hover img{
    scale: 1.04;
    transition: 0.5s ease-in-out;
  }
  .blog-contents:hover .content-info{
    transform: translateY(10px);
    scale: 1.04;
    transition: 0.5s ease-in-out;
  }
  .blog-contents img{
    width: 100%;

    height: 350px;
  }
  .content-info p2{
    word-spacing: 1.1px;
    margin-top: 30px;
  }
  .content-info h4{
    font-size: 20px;
    margin-top: 10px;
  }
  #sub-footer{
    background-color: var(--elements-bg);
  }
  .connect-info3{
    margin-top: 10px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  .credentials2, .credentials3{
    display: grid;
    grid-auto-flow: row;
    gap: 3px;
  }


  /*contact section*/
  .connect{
    width: 100%;
    padding: 60px;
   display: grid;
   grid-auto-flow: column;
   place-content: center;
   justify-content: center;
   align-items: center;
  }
  .messaging{
    padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
    
  }

  .connect-info{
    display: grid;
    align-items: left;
    place-content: left;
    text-align: left;
    gap: 3px;
  }
  .connect-info2{
    display: grid;
    place-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 8px;
    border: 1px solid gray;
    background: #e0e0e0;
box-shadow: inset -20px 20px 22px #cccccc,
            inset 20px -20px 22px #f4f4f4;
            
    gap: 10px;
   

  }
  .credentials{
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    place-content: center;
    align-items: center;
    justify-self: top;
  }
  .credentials input{
    background: #e0e0e0;;
    outline: none;
    border: 2px solid white;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 10px;
    color: var(--elements-bg);
    border-radius: 8px;
   
  }
  .text{
   color: white;
  }
  textarea{
    width: 100%;
    border-radius: 8px;
    display: grid;
    padding: 10px;
    text-align: left;
    outline: none;
    border:var(--page);
  }
  .submit{
    width: 350px;
    justify-self: center;
    height: 70px;
    border-radius: 8px;
    color: var(--elements-bg);
    background-color: var(--brand-color);
    font-size: 20px;
    font-weight: 400;
  }
  .connect-links i{
    background-color: #b89416;
   
  }
  .questions{
    width: 100%;
    padding: 20px;
  }
  .questions-info{
    display: grid;
    grid-auto-flow: column;
    gap: 50%;
  }
  .questions-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border-bottom: 1px solid black;
   
  }
  .ques{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    border-bottom: 1px black;
    padding: 30px;
    height:37px;
    transition: .5s ease-in-out;
    overflow: hidden;
    
  }
  .ques:hover{
    height: 100%;
  }
  
  .qq{
    display: grid;
    place-content: center;
    align-items: center;
    grid-auto-flow: row;
    width: 100%;
    padding: 30px;
  }
  
 

  .more{
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    display: grid;
    align-items: center;
    place-content: center;
    padding: 10px;
    font-size: 30px;
    padding: 2px;
    cursor: pointer;
    transition: .5s linear ;



}

 .more:hover{
    transform: rotate(30deg);
    transition: .5s linear;
}

.more-questions{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
    gap: 20px;
    max-width: 700px;
    border: 1px solid gray;
    background: #e0e0e0;
box-shadow: inset -20px 20px 22px #cccccc,
            inset 20px -20px 22px #f4f4f4;
   

    padding:10px;
    border-radius: 10px;
}
.more-questions-info{
    display: grid;
    grid-auto-flow: row;
    text-align: left;
    gap: 3px;
}
.more-questions button{
align-self: center;
width: 150px;
height: 50px;
background-color: var(--brand-color);
color: var(--elements-bg);
border-radius: 8px;
}
  


/* Media Queries for Responsiveness */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }
    .hero-content::after{
        position: absolute;
        bottom: 0;
    }
    .container2{
        display: grid;
        grid-auto-flow: row;
    }
    .trainers-info{
        display: grid;
        grid-auto-flow: row;
        gap: 10px;
    }
    .packages-info{
        display: grid;
        grid-auto-flow: row;
        text-align: center;
    }
    .packages-prices{
        display: grid;
        grid-auto-flow: row;
        margin-top: 70px;
        gap: 10px;
    }
    .footer{
        display: grid;
        grid-auto-flow: row;
    }
    .footer2{
        display: grid;
       
        grid-auto-flow: row;
        gap: 20px;
    }
    .container2 ,.trainers-info{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
    .container2 div{
       height: 200px;
      width: 190px;
      
    }
    .trainers-info div{
        height: 200px;
       width: 190px;
       
     }
     .feedback-content{
        text-align: center;
       
     }
     .blog-content{
        display: grid;
        grid-auto-flow: row;
        text-align: center;
     }
     .blog-info{
        display: flex;
        flex-wrap: wrap-reverse;
     }
     .messaging{
        display: grid;
        grid-auto-flow: row;
        text-align: center;
     }
     .connect-info2{
        padding: 30px;
     }
     .questions-info{
        display: grid;
        grid-auto-flow: row;
        margin-top: 70px;
        gap: 10px;

     }
     .ques{
        gap: 15px;
     }
     
     
    
 

    
}
